[Desktop Entry]
Encoding=UTF-8
Name=Photoshop CC
Exec=bash pspath/launcher/launcher.sh
Type=Application
StartupNotify=false
Comment=Photoshop CC for Linux
Icon=application-photoshop
Name[fr_FR]=Photoshop CC
Categories=Graphics;


