[Desktop Entry]
Encoding=UTF-8
Name=photoshop 
Exec=bash gictorbit/.photoshopCCV19/launcher/launcher.sh
Type=Application
StartupNotify=true
Comment=photoshop cc for linux
Icon=photoshop
Name[fr_FR]=PhotoshopCC


